<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
  <div class="header">
    <h1 class="header_title">Todo List Demo App</h1>
    <h3>If you are going through hell, go without stopping</h3>
  </div>
  <form action="/" method="post" autocomplete="off">
    <input class = "input"type="text" placeholder="Add todos..." name="todoValue", required>
    <button type="submit">Add task</button>
  </form>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Task Name</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <% if(todos) { %>
        <% todos.forEach((todoValue, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= todoValue.todo %></td> 
            <td><a class="<%= todoValue.status %>"><%= todoValue.status %></a></td> 
            <td><a href=">">Edit</a></td> 
            <td><a class='todo-delete' href="#" data-id="<%= todoValue._id %>"><img class="todo_delete_pics" src="./svg/trash.svg" width="30"></a></td>
          </tr>
        <% }) %>
      <% } %>
    </tbody>
  </table>
  </div>
</body>
<script>
  const deleteButtons = document.querySelectorAll('.todo-delete');

  deleteButtons.forEach((button) => {
    button.addEventListener('click', async (e) => {
      e.preventDefault();

      const todoId = button.getAttribute('data-id');

      try {
        const response = await fetch(`/${todoId}`, {
          method: 'DELETE',
        });

        if (response.status === 204) {
          // Успешное удаление, перезагрузите страницу для обновления списка задач
          window.location.reload();
        } else {
          // Обработка ошибок удаления
          console.error('Failed to delete todo');
        }
      } catch (error) {
        console.error('Failed to delete todo:', error);
      }
    });
  });
</script>
</html>